@import "index.css";

/*sidebar*/
.sidebar{
    padding: 2rem;
    border-right: 2px solid var(--primary-color);
    align-items: center;
    width: 20%;
}
.sidebar-heading{
    padding: 1rem;
}
.component-items{
    padding: 1rem;
}
.component-items:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 0.5rem;
}
.sidebar-heading:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 0.5rem;
}

/*iframe*/
.iframe{
    background-color: var(--primary-color);
    width: 100%; 
    height: 310px; 
    border:0; 
    transform: scale(1); 
    overflow:hidden;
    margin: 1rem;
}

/*components*/
.component-heading{
    font-size: 2.5rem;
    font-weight: 800;
}
.component-info{
    font-size: 1.25rem;
    color: var(--grey-color);
}
