.container{
    padding: 1rem;
    gap: 2rem;
}
.component-container{
    padding: 2rem 4rem 2rem 2rem;
}
.component-details{
    padding: 1rem;
}
.grid-examples{
    justify-content: space-evenly;
    padding: 2rem;
    flex-wrap: wrap;
    margin: 1rem;
    border: 2px solid var(--primary-color);
    gap: 3rem;
}

.grid-container{
    display: grid;
    column-gap: 1rem;
    grid-template-columns: auto auto;
    background-color: var(--primary-color);
    padding: 1rem;
}
.grid-container-column {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: auto auto auto;
    background-color: var(--primary-color);
    padding: 1rem;
  }
  
.grid-item {
    background-color: var(--tertiary-color);
    padding: 4rem;
    font-size: 3rem;
    text-align: center;
}

  
.grid-container-row {
    display: grid;
    row-gap: 1rem;
    grid-template-rows: auto auto auto;
    background-color: var(--primary-color);
    padding: 1rem;
  }